html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	
}
div {
	padding: 1px;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}


body {
	line-height: 1;
	color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #333333;
}
iframe {
	width:100%;
	height:700px;
	display:none
}
h1 {
	margin:10px;
	padding:5px;
	font-size:28px;
}
h2 {
	margin:8px;
	font-size:20px;
}
h3 {
	margin:6px;
	font-size:16px;
}
h1.ui-widget-header, h2.ui-widget-header {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 2em;
	border-radius: 1em 4em 1em 4em;
}
.title {
	padding-left:25%;
}
#bodyview {
	margin-left:2%;
	margin-right:2%;
	width:95%;
	background-color: #FFFFFF;
	padding: 5px;
	border-radius: 15px;
	margin-bottom:50px;
	height:97%;
	z-index: 0;
}
#header{
	margin-bottom: 6px;
}
#mainview{
	
}
#SmeadApp {

}
#footer {
	position:fixed;
	clear:both;
	height:50px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #bbb;
	margin-top:6px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: -6px;
	border-radius: 15px 15px 15px 15px;
	border-top: 1px solid black;
	bottom:6px;
	left:0px;
	right:0px;
	z-index: 1;
}
#poweredBy{
	float: right;
	text-align:right;
}

@media print {
	body	{ color:#000; font:12px arial, helvetica, sans-serif; padding:0; }
	html {
		background: #FFFFFF;
	}
	.noprint{
		display:none;
	}
	#bodyview {
		max-width:97%;
		background-color: #FFFFFF;
		padding: 5px;
		border:0;
		margin-bottom:50px;
	}
	
	#header{
		display:none;
	}
	#mainview{
		
	}
	#sidebarBtns {
		display:none;
	}
	#footer {
		overflow:hidden;
		background-color: #FFFFFF;
	}
	#poweredBy{
		float: right;
		text-align:right;
	}
}
.ofh {
	overflow:hidden;
}
.boxpad {
	padding:5px;
}
.tabletitle {
	font-size:20px;
	text-align:center;
}
.error {
	background-color:#C47C7C;
}
.entered {
	background-color:#B8E4B8
}

.odd {
	background-color:#C47C7C;
}
.restart{
	float:right;
}
tr {
	
	border:1px solid black;
}
.left {
	float:left;
	position:relative;
}
.right {
	float:right;
	position:relative;
}
.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.fixed {
	position:fixed;
}
 div.loading-invisible{    
 	/*make invisible*/    
 	display:none;  
 }  
 .centered {
 	text-align:center;
 }
 .quote {
 	border-radius: 7px;
 	background-color:#E0E0A0;
 	color:#0066CC;
 	padding: 4px;
 	
 }
 .dataSuccess {
 	background-color:#6CE26C;
 }
 .warning {
 	background-color:#FFE45C
 }
 .transparent {
 	background:none;
 }
 /*this is what we want the div to look like    when it IS showing*/  
 div.loading-visible{    
 	/*make visible*/    
 	display:block;    
 	/*position it at the very top-left corner*/    
 	position:absolute;    top:0;    left:0;    width:100%;    height:100%;    text-align:center;    
 	/* in supporting browsers, make it      a little transparent*/    
 	background:#fff;    
 	_background:none; 
 	/*this line removes the background in IE*/    
 	opacity:.75;    
 	border-top:1px solid #ddd;    
 	border-bottom:1px solid #ddd;    
 	/*set the padding, so that the content      of the div is centered vertically*/    
 	padding-top:25%;
 	font-size: 25px;
 	font-weight: bold;
 	color:#5C93F0;  
 }
 .ui-autocomplete {
		max-height: 250px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}

#todoapp {
	width: 480px;
	margin: 0 auto 40px;
	background: white;
	padding: 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}
#todoapp h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 30px 0;
	line-height: 1;
}

#create-todo {
	position: relative;
}
#create-todo input {
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	margin:2px;
	border: 1px solid #999999;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#create-model input {
	
	font-size: 18px;
	font-family: inherit;
	line-height: 1.1em;
	border: 0;
	outline: none;
	padding: 6px;
	margin:2px;
	border: 1px solid #999999;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#create-model label {
	margin-left: 7px;
}
#create-model span {
	font-size: 18px;
	margin-left: 7px;
	padding:5px;
}
.placeholder{
	color:#AAAAAA;	
}
textarea {
	overflow: auto;
	margin-left: 7px;
	font-size: 16px;
	font-family: inherit;
}
#create-todo span {
	position: absolute;
	z-index: 999;
	width: 170px;
	left: 50%;
	margin-left: -85px;
}

#todo-list {
	margin-top: 10px;
}
#todo-list li {
	padding: 12px 20px 11px 0;
	position: relative;
	font-size: 24px;
	line-height: 1.1em;
	border-bottom: 1px solid #cccccc;
}
#todo-list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todo-list li.editing {
	padding: 0;
	border-bottom: 0;
}
#todo-list .editing .display,
#todo-list .edit {
	display: none;
}
#todo-list .editing .edit {
	display: block;
}
#todo-list .editing input {
	width: 444px;
	font-size: 24px;
	font-family: inherit;
	margin: 0;
	line-height: 1.6em;
	border: 0;
	outline: none;
	padding: 10px 7px 0px 27px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
#todo-list .check {
	position: relative;
	top: 9px;
	margin: 0 10px 0 7px;
	float: left;
}
#todo-list .done .todo-content {
	text-decoration: line-through;
	color: #777777;
}
#todo-list .todo-destroy {
	position: absolute;
	right: 5px;
	top: 14px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../assets/images/destroy.png) no-repeat 0 0;
}
#todo-list li:hover .todo-destroy {
	display: block;
}
#todo-list .todo-destroy:hover {
	background-position: 0 -20px;
}

#todo-stats {
	*zoom: 1;
	margin-top: 10px;
	color: #777777;
}
#todo-stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todo-stats .todo-count {
	float: left;
}
#todo-stats .todo-count .number {
	font-weight: bold;
	color: #333333;
}
#todo-stats .todo-clear {
	float: right;
}
#todo-stats .todo-clear a {
	color: #777777;
	font-size: 12px;
}
#todo-stats .todo-clear a:visited {
	color: #777777;
}
#todo-stats .todo-clear a:hover {
	color: #336699;
}

#instructions {
	width: 520px;
	margin: 10px auto;
	color: #777777;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}
#instructions a {
	color: #336699;
}

#credits {
	width: 520px;
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}
#credits a {
	color: #888;
}

.ui-tooltip, .ui-tooltip-top, .ui-tooltip-right, .ui-tooltip-bottom, .ui-tooltip-left {
	color:#ffffff;
	cursor:normal;
	display:-moz-inline-stack;
	display:inline-block;
	font-size:12px;
	font-family:arial;
	padding:.5em 1em;
	position:relative;
	text-align:center;
	text-shadow:0 -1px 1px #111111;
	-webkit-border-top-left-radius:4px ;
	-webkit-border-top-right-radius:4px ;
	-webkit-border-bottom-right-radius:4px ;
	-webkit-border-bottom-left-radius:4px ;
	-khtml-border-top-left-radius:4px ;
	-khtml-border-top-right-radius:4px ;
	-khtml-border-bottom-right-radius:4px ;
	-khtml-border-bottom-left-radius:4px ;
	-moz-border-radius-topleft:4px ;
	-moz-border-radius-topright:4px ;
	-moz-border-radius-bottomright:4px ;
	-moz-border-radius-bottomleft:4px ;
	border-top-left-radius:4px ;
	border-top-right-radius:4px ;
	border-bottom-right-radius:4px ;
	border-bottom-left-radius:4px ;
	-o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	-webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
	background-color:#3b3b3b;
	background-image:-moz-linear-gradient(top,#555555,#222222);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip:after, .ui-tooltip-top:after, .ui-tooltip-right:after, .ui-tooltip-bottom:after, .ui-tooltip-left:after {
	content:"\25B8";
	display:block;
	font-size:2em;
	height:0;
	line-height:0;
	position:absolute;
}
.ui-tooltip:after, .ui-tooltip-bottom:after {
	color:#2a2a2a;
	bottom:0;
	left:1px;
	text-align:center;
	text-shadow:1px 0 2px #000000;
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-khtml-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	width:100%;
}
.ui-tooltip-top:after {
	bottom:auto;
	color:#4f4f4f;
	left:-2px;
	top:0;
	text-align:center;
	text-shadow:none;
	-o-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-khtml-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	width:100%;
}
.ui-tooltip-right:after {
	color:#222222;
	right:-0.375em;
	top:50%;
	margin-top:-.05em;
	text-shadow:0 1px 2px #000000;
	-o-transform:rotate(0);
	-moz-transform:rotate(0);
	-khtml-transform:rotate(0);
	-webkit-transform:rotate(0);
}
.ui-tooltip-left:after {
	color:#222222;
	left:-0.375em;
	top:50%;
	margin-top:.1em;
	text-shadow:0 -1px 2px #000000;
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-khtml-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}




#todoapp {
	background: white;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#todoapp .content #create-todo {
	position: relative;
}

#todoapp .content #create-todo input {
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}


#todoapp .content #create-todo span {
	position: absolute;
	z-index: 999;
	width: 170px;
	left: 50%;
	margin-left: -85px;
}
#todoapp .content ul#todo-list {
	margin-top: 10px;
}
#todoapp .content ul#todo-list li {
	padding: 15px 20px 15px 0;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	*zoom: 1;
	cursor: move;
}
#todoapp .content ul#todo-list li:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
#todoapp .content ul#todo-list li.editing {
	padding: 0;
	border-bottom: 0;
}
#todoapp .content ul#todo-list li.editing .todo-input {
	display: block;
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#todoapp .content ul#todo-list li.editing .todo-content {
	display: none;
}

#todoapp .content ul#todo-list li.editing .todo-check {
	display: none;
}

#todoapp .content ul#todo-list li.editing .todo-destroy {
	display: none !important;
}	

#todoapp .content ul#todo-list li .todo-input {
	display: none;
}

#todoapp .content ul#todo-list li .todo-check {
	position: relative;
	top: 6px;
	margin: 0 10px 0 7px;
	float: left;
}

#todoapp .content ul#todo-list li.done .todo-content{
	text-decoration: line-through;
	color: #777777;
}
#todoapp .content ul#todo-list li.done  div .todo-assigned {
	text-decoration: line-through;
	color: #777777;
}

#todoapp .content ul#todo-list li .todo-destroy {
	position: absolute;
	right: 0px;
	top: 16px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

#todoapp .content ul#todo-list li:hover .todo-destroy {
	display: block;
}

#todoapp #todo-stats {
	*zoom: 1;
	margin-top: 10px;
	color: #555555;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f4fce8;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 36px;
}
#todoapp #todo-stats:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

#todoapp #todo-stats .todo-count {
	float: left;
}

#todoapp #todo-stats .todo-count .number {
	font-weight: bold;
	color: #555555;
}

#todoapp #todo-stats .todo-clear {
	float: right;
}

#todoapp #todo-stats .todo-clear a {
	display: block;
	line-height: 20px;
	text-decoration: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0.1);
	color: #555555;
	font-size: 11px;
	margin-top: 8px;
	padding: 0 10px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
#todoapp #todo-stats .todo-clear a:hover, #todoapp #todo-stats .todo-clear a:focus {
	background: rgba(0, 0, 0, 0.15);
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}
#todoapp #todo-stats .todo-clear a:active {
	position: relative;
	top: 1px;
}
.table {
	display:table;
}
.psEntryTable {
	border: 1px solid black;
}
.hcell { 
	display:table-cell;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color: #4D926F;
	font-size:16px;
	
}
.hicell { 
	display:table-cell;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color: #4D926F;
	font-size:16px;
}
.column {
	display:table-column;
}
.border {
	border:1px solid black;
}
.cell { 
	display:table-cell;
	padding:5px;
	text-align:center;
	font-weight:600;
}
.mcell { 
	padding:4px;
	text-align:center;
	font-weight:900;
	font-size: 16px;
}
.row {
	display:table-row;
	width: 100%;
}

.tbody {
	width: 100%;
}
.c520 {
	background-color: #92d050;
	border-top:1px solid black;
}
.gdark {
	background-color: #c4d79b;
	border-top:1px solid black;
}
.glight {
	background-color: #d8e4bc;	
}
.olight {
	background-color: #fcd5b4
}
.odark {
	background-color: #fabf8f
}
.plight {
	background-color: #ccc0da
}
.pdark {
	background-color: #b1a0c7
}
.c521 {
	background-color: #ffc000
}
.c522 {
	background-color: #8f78af
}
.c523 {
	background-color: #ffe495
}
.c524 {
	background-color: #aec976
}
.c525 {
	background-color: #d29e00
}
.c526 {
	background-color: #6da82d
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;

	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../assets/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;

	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../assets/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../assets/images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
.barcode {
	font-family: "Smead39";
	font-size: 30px;
}
#cellpriorityList, #machinepriorityList {float:left;}
#sortable1, #sortable2 { margin: 0; padding: 0 0 2.5em; margin-right: 10px; }    
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }