
<style>

form {
    font-family: Verdana, Arial, sans-serif;}
p { font-family: Verdana, Arial, sans-serif;
    display: inline-block;}
input {
    font-family: Verdana, Arial, sans-serif;
    color: #777;}

textarea {
       vertical-align: top;
       width: 400px;
       color: #777;}

#wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #444;
    font-family: Verdana, Arial, sans-serif;
    font-size: 2.0em;}

#inputs {
       width: 200px;
       clear: both;}

#inputs input {
       width: 100%;
       clear: both;}
</style>

<h1>Finished Goods</h1>
<div id="wrapper">
    <div id="inputs">
        <form name="input" action="#" method="post">
          Employee #: <br/><input type="text" name="empl #"><br/><br/>
          PID: <br/><input type="text" name="pid"><br/><br/>
          E-mail: <br/><input type="text" name="op seq"><br/><br/>
            Machine: <br/><input type="text" name="machine"><br/><br/>
        </form>
    </div>
    <div>
        <form id="options">
           
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

