
<style>
	#feedback { font-size: 1.4em; }  
	#selectable .ui-selecting { background: #FECA40; }  
	#selectable .ui-selected { background: #F39814; color: white; }  
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 100% }  
	#selectable li { margin: 3px; padding: 1px; float: left; width: 30px; text-align: center; } 
</style>

<div id="resizable" class="" style="height:500px; width:60%;">
	<h2 >
		<span>{{title}}</span>
		<div class="dropdown pull-right" data-toggle="buttons-checkbox">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-target="#menu1"><b class="caret"></b></button>  
			<button type="button" class="btn btn-primary"><i class="icon-print"></i></button>  
			<button type="button" class="btn btn-primary">Middle</button>  
			<button type="button" class="btn btn-primary" id="chartOptions"><i class="icon-cogs"></i></button>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-target="#menu1"><b class="caret"></b></button>
    		<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">  
    			<li><a tabindex="-1" href="#">Action</a></li>  
    			<li><a tabindex="-1" href="#">Another action</a></li>  
    			<li><a tabindex="-1" href="#">Something else here</a></li>  
    			<li class="divider"></li>  
    			<li><a tabindex="-1" href="#">Separated link</a></li>
    		</ul>
		</div>
		
		

		<div id='optionsView' class="z2k"></div>
	</h2>
	<div class="plotOptions border left defaultForm" style="width: 20%">
		<div class="inline">
			<input id="startDate" class='dPicker inline' type="text" value="{{startDate}}" size="8"/>
  			<span class="inline"><span class="ui-icon ui-icon-triangle-1-e"></span></span>
  			<input id="endDate" class='dPicker inline' type="text" value="{{endDate}}" size="8"/>
  		</div>
		<div class="">			
			Month<input type="radio" name="groupBy" value="month" checked="checked" /> 
			Day<input type="radio" name="groupBy" value="day" />
		</div>
		<div class=""> 
			Branch<input type="radio" name="level" id="rbranch" value="Branch" checked="checked" />
			Machine<input type="radio" name="level" id="rmachine" value="Machine" />
		</div>
		<br/>
		Select machine group:
		<select id="machineGroups">
			<option value="">Select group...</option>
			{{#each machineTypes}}
			<option value="{{@index}}">{{this.name}}</option>
			{{/each}}
		</select>
		<div class="searchBox noprint">
			Customize a group:
		  	<input id="imachine" placeholder="Click here to search..." type="text" size='15'/>	  	
	  	</div>
		<br />Current Machines Included:
		<ol id="selectable">
			N/A 
		</ol>
		
	</div>	
	<div id="plot" class="border left" style="min-height: 300px; height: 90%; width:78%;">
		
	</div>
</div>
<br />
<br />
<div id="sql"></div>
<div id='processRecord' class="border noprint" style="min-height: 300px; width:98%;">
	
</div>
