{{#if header}}
<div id="header" class="relative"> 
	<button type="button" id="restart" class="restart">Restart App</button>
	<div id='tabsmenu'>
		<input type="radio" id="radio5" name="radio" checked="checked" href="#main/home" /><label for="radio5">Home</label>
		<input type="radio" id="radio1" name="radio" /><label for="radio1"><a href="#main/TodoApp" >Todolist</a></label>
		<input type="radio" id="radio2" name="radio" /><label for="radio2"><a href="#main/PSApp" >PeopleSoft Entry</a></label>
		<input type="radio" id="radio4" name="radio" /><label for="radio4"><a href="#main/MachPerfApp" >Machine Performance</a></label>
		<input type="radio" id="radio6" name="radio" /><label for="radio6"><a href="#main/IdeaApp" >Idea Tracking</a></label>
		<input type="radio" id="radio7" name="radio" /><label for="radio7"><a href="#main/plot" >Plot testing</a></label>
		<input type="radio" id="radio8" name="radio" /><label for="radio8"><a href="#main/ProductionApp" >Production</a></label>
		<input type="radio" id="radio9" name="radio" /><label for="radio9"><a href="#main/InventoryApp" >Inventory</a></label>
		<input type="radio" id="radio10" name="radio" /><label for="radio10"><a href="#main/TasksApp" >Task</a></label>
		<input type="radio" id="radio11" name="radio" /><label for="radio11"><a href="#main/ProdScheduleApp">Prododuction Scheduling</a></label>
		<input type="radio" id="radio12" name="radio" /><label for="radio12"><a href="#main/idea">Idea</a></label>
		<input type="radio" id="radio13" name="radio" /><label for="radio13"><a href="#main/slicktesting">SlickTesting</a></label>
		<input type="radio" id="radio14" name="radio" /><label for="radio14"><a href="#main/ImageTesting">ImageTesting</a></label>
		<input type="radio" id="radio15" name="radio" /><label for="radio15"><a href="#main/SlickGrid">SlickGrid</a></label>
		<input type="radio" id="radio16" name="radio" /><label for="radio16"><a href="#main/PSAdminApp">PeopleSoft Testing</a></label>
		<input type="radio" id="radio17" name="radio" /><label for="radio17"><a href="#main/demand">Demand routing</a></label>
		{{#each apps}}
			<input type="radio" id="r{{this.path}}" name="radio" /><label for="r{{this.path}}"><a href="#main/{{this.path}}" >{{this.title}}</a></label>
		{{/each}}
	</div>
</div>
{{/if}}
<div id="mainview" class="relative" style="z-index:1;width:100%">
	

</div>

<div id="dialog-form" title="Create New Idea">
	<div class="content border">
		<label for="">Idea </label><br />
			<textarea placeholder="idea" class="resizable"> </textarea><br />
		<h3>Tags</h3>				
		<input type="radio" name="type" checked="checked" /><label for="">Production </label><br />
		<input type="radio" name="type" /><label for="">Computer </label><br />
		<input type="radio" name="type" /><label for="">QuickTip </label><br />
		Other Tags <input type="text" name="tags" /><label for="">QuickTip </label><br />
	</div>
</div>

{{#if sidebar}}
<style>

  #sidebarBtns label:after {
    content: attr(title);
    position: absolute;
    bottom: 10%;
    left: 150%;
    background: #ffcb66;
    padding: 5px 15px;
    color: black;
    border-radius: 10px;
    white-space: nowrap;
    display:none;
     /* At time of this creation, only Fx4 doing pseduo transitions */
    -webkit-transition: all 0.4s ease;
    -moz-transition   : all 0.4s ease;
  }
  #sidebarBtns label:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #ffcb66;
    display: none;
    left: 120%;
    bottom: 25%;
  }
  #sidebarBtns label:hover:after,#sidebarBtns label:hover:before {
    display: block;
  }
</style>
<div id="sidebarBtns" class="fixed" style="top:56px;left:-5px;z-index:1;">      
	<input type="radio" id="sbtn5" name="radio" data-view="newIdea" data-icon="ui-icon-info" /><label for="sbtn5">Updates</label>       
	<input type="radio" id="sbtn6" name="radio" data-view="helpasdfaf asd fasdf adf adfasdf a dfasd fadfadfadfadfadfasdf<br />" data-icon="ui-icon-help" /><label for="sbtn6">Help</label>       
	<input type="radio" id="sbtn4" name="radio" data-view="chat" data-icon="ui-icon-comment" /><label for="sbtn4">Chat</label>
	<input type="radio" id="sbtn3" name="radio" data-view="chat" data-icon="ui-icon-info" /><label for="sbtn3">Chat</label>
	<input type="radio" id="sbtn2" name="radio" data-view="settings" data-icon="ui-icon-gear" /><label for="sbtn2">Settings</label>    
	<input type="radio" id="sbtn1" name="radio" data-view="debug" data-icon="ui-icon-lock" /><label for="sbtn1">Debug</label>
</div>
{{/if}}
{{#if footer}}
<div id="footer">
	<div class="left " style="z-index:1;">Logged in as: {{username}}</div>
	<div class="quote left">"Nothing is particularly hard if you <br />divide it into small jobs." - Hennry Ford</div>
	<div id='poweredBy' class="" style="z-index:1;">SmeadAnalytics<br />{{appState}} Mode</div> 
</div>
{{/if}}
<div id="loading" class="loading-invisible">  <span>Database Interaction... <img src="assets/images/ajax-loader2.gif" /></span></div>
