
<div class="border">	
	
	<ul class="nav nav-tabs">  
		<li><a href="#pph" data-toggle="tab">Pieces Per Hour</a></li>  
		<li><a href="#noi" data-toggle="tab">Number Of Items</a></li>  
		<li><a href="#nop" data-toggle="tab">Number Of PIDs</a></li>  
		<li><a href="#pp" data-toggle="tab">Pieces Produced</a></li>  
		<li><a href="#as" data-toggle="tab">Average Setup</a></li>  
		<li><a href="#ad" data-toggle="tab">Average Down</a></li>
		<li><a href="#piecesChart" data-toggle="tab">test router</a></li>
	</ul>
	<div class="tab-content">  
		<div class="tab-pane active" id="pph">1 um sociis natoque penatibus et magnis dis parturient montes,</div>  
		<div class="tab-pane" id="noi">2 um sociis natoque penatibus et magnis dis parturient montes,</div>  
		<div class="tab-pane" id="nop">3 um sociis natoque penatibus et magnis dis p</div>  
		<div class="tab-pane" id="pp">4 um sociis natoque penatibus et magnis dis p</div>
		<div class="tab-pane" id="as">5 um sociis natoque penatibus et magnis dis p</div>
		<div class="tab-pane" id="ad">6 um sociis natoque penatibus et magnis dis p</div>
		<div class="tab-pane" id="piecesChart">6 um sociis natoque penatibus et magnis dis p</div>
	</div>
	
	
</div>
	
		