<div class="title">
	<h1>Smead Analytics - The New View</h1>
</div>

	<button id="btnTest">Load Graph</button><span>Browse graph styles <a href="js/lib/jqplot/examples/index.html" >here</a> then submit an idea of the new graph style and data you would like to see.</span>
	<div class='graphcontrol border print relative'>
		<h2>Interactive</h2>				
		<div class='graphdaterange'><!-- Slider -->
			<h2 class="demoHeaders">Slider</h2>
			<div id="slider"></div>
			<span>From:</span><span id="dtFrom">1900</span>
			<span>To:</span><span id="dtTo">1999</span>
		</div>
		<div class='breadcrumbs'>Bread > Crumbs</div>
	
		<div id="grapharea" style="overflow:hidden;">
			<div class='graphfilters border left' style="width: 15%">graphfilters
				<ul>
					<li>Net Qty Produced</li>
					<li>Scrap</li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div id="chart1" class="left" style="height:300px; width:500px;border:2px solid green"></div>
			<div id="hover"class="">Hover Area</div>
			
		</div>
	</div>
