
	<div id='testbuttons'>
		<div>Button1</div>
		<div>Button3</div>
		<div>Button2</div>
		<div>Button4</div>
	</div>
	<div id="icons">
		<div id="icon1"></div>
		<div id="icon2"></div>
		<div id="icon3"></div>
	</div>
	<div class="column">     
		<div class="portlet">        
			<div class="portlet-header">Me</div>
			<div class="portlet-content">
				<h1>Welcome {{Name}}</h1>
				<img src="assets/images/AID{{Associate_ID}}.jpg" width="400px" height="250px"  /> 
			</div> 
		</div>     
		<div class="portlet">        
			<div class="portlet-header">My Tasks</div>        
			<div class="portlet-content">
				<ul>
					<li>Task 1</li>
					<li>Task 2</li>
					<li>Task 3</li>
					<li>Task 4</li>
					<li>Task 5</li>
					<li>Task 6</li>
				</ul></div>    
		</div> 
		<div class="portlet">        
			<div class="portlet-header">Latest Ideas</div>        
			<div class="portlet-content">
				<ul>
					<li>Idea 1</li>
					<li>Idea 2</li>
					<li>Idea 3</li>
					<li>Idea 4</li>
					<li>Idea 5</li>
					<li>Idea 6</li>
				</ul>
			</div>    
		</div> 
		<div class="portlet">        
			<div class="portlet-header">News</div>        
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>    
		</div> 
		<div class="portlet">        
			<div class="portlet-header">News</div>        
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>    
		</div> 
		<div class="portlet">        
			<div class="portlet-header">News</div>        
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>    
		</div> 
	</div> 
	<div class="column">     
		<div class="portlet">        
			<div class="portlet-header">News</div>        
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>    
		</div> 
	</div>
	<div class="column">     
		<div class="portlet">        
			<div class="portlet-header">News</div>        
			<div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>    
		</div> 
	</div>
<div class="clearfloat">
	<label for="alpha">Alpha </label><select id="ialpha" placeholder="Numeric:">        
  		<option value="">Select one...</option>
  		<option value="a">A	Items that STOP production (Downtime)</option>
  		<option value="b">B	Items that SLOW production ( less than 100% run Speed)</option>
  		<option value="c">C	Ergonomic Related Items and/or Preventative measures</option>
  		<option value="d">D	Nice-to-Have/Wants/Just-in-Case Items</option>
  		<option value="e">E	Preference Type suggestions</option>
  		<option value="n/a">N/A	Doesn't apply to Cell Suggestion</option>
  		<option value="z">Z	C.I. Support Items</option>
  	</select>
 </div>  

