<div class="title">
	<h1>Cell Suggestion Entry</h1>
</div>
<div class="content">
	<div id="create-todo">
	  <input id="iassociate" placeholder="What needs to be done?" type="text" /><label for="Machine">Enter Associate Code</label><br />
	  <input id="idate" placeholder="What needs to be done?" type="text" /><label for="Machine">Enter Date</label><br />
	  <input id="imachine" placeholder="What needs to be done?" type="text" /><label for="Machine">Enter Machine code</label><br />
	  <span id="scell" >520</span><label for="Machine">Cell</label><br />
	  <input id="iidea" placeholder="What needs to be done?" type="text" /><label for="Machine">Idea</label><br />
	  <input id="igain" placeholder="What needs to be done?" type="text" /><label for="Machine">Gains</label><br />
	</div>
	<button id="btnCreate">Create</button>
	<div id="todos">
	  <input class="check mark-all-done" type="checkbox"/>
	  <label for="check-all">Mark all as complete</label>
	  <input class="show filter-all-done" type="checkbox"/>
	  <label for="show-remaining">Hide completed</label>
	  <ul id="todo-list"> </ul>
	</div>
	
	<div id="todo-stats"> </div>
</div>
