<div class="content">
	<div id="tabs" class="ofh">    
		<ul>        
			<li><a href="#tabs-1">Cell Suggestion Entry</a></li>        
			<li><a href="#tabs-2">Ideas</a></li>        
			<li><a href="#tabs-3">Reports</a></li>    
		</ul>    
		<div id="tabs-1">        
			<div class="reportArea border left" style="width: 70%">
				<h2><span class="ui-widget-header">Idea Edit/Create</span></h2>
				<div class="content">
				</div>
			</div>
		</div>    
		<div id="tabs-2">        
		</div>    
		<div id="tabs-3">
			<div>				
				<div class="optionsArea left" >
					<div class="reportSelectionArea border" style="">
						All Open by Assigned To
					</div> 
					<div class="reportFilterArea defaultForm border" style="">
						<label>Associate</label>
						<select>
							<option value="">Select Assoc...</option>
							<option value="1">James</option>
							<option value="2">Ernie</option>
							<option value="3">Shane</option>
						</select>
					</div>
				</div>     
				<div class="reportArea border left" style="width: 70%">
					<h2><span class="ui-widget-header">Report all open by Assigned To</span></h2>
					<div class="content">
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					This is the reportThis is the report This is the report This is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the reportThis is the report
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
</div>
