<div class="layout ofh border" style="">
	<h1 class="ui-widget-header title"><span class="">Idea</span></h1>	
<div id="create-model" class="left" style="width: 40%">
	<h2 class="ui-widget-header"><span>Idea Details</span></h2>	
	<fieldset>
{{#if isNew}}
  	<label>Enter Idea: </label>
	<div class="editable">
		<textarea id="iidea" placeholder="idea" class="resizable"></textarea>
	</div>
{{else}}
  	<label>Idea: <a href="#main/IdeaApp/{{id}}">#{{id}}</a></label>
	<div class="editable">
		<h2 id="idea">{{idea}}</h2>
		<textarea id="iidea" placeholder="Enter Idea here:" class="resizable hidden"></textarea>
	</div>
{{/if}}
	</fieldset>
	<h3>Tags</h3>
	<div id="tags">    
		<input type="checkbox" id='check1' {{#if tags.bug}}checked="checked"{{/if}} name="tags" /><label for='check1'>Computer Bug</label>
		<input type="checkbox" id='check2' {{#if tags.bug}}checked="checked"{{/if}} name="tags" /><label for='check2'>Cell Enhacement</label>  
		<input type="checkbox" id='check3' {{#if tags.bug}}checked="checked"{{/if}} name="tags" /><label for='check3'>Stops Production</label>
		<input type="checkbox" id='check4' {{#if tags.bug}}checked="checked"{{/if}} name="tags" /><label for='check4'>Slows Production</label>
		<input type="checkbox" id='check5' {{#if tags.bug}}checked="checked"{{/if}} name="tags" /><label for='check5'>Critical</label>
	</div><br />
	Other Tags <input type="text" name="tags" /><label for="">QuickTip </label><br />			
	<input type="radio" name="type" checked="checked" /><label for="">Production </label><br />
	<input type="radio" name="type" /><label for="">Computer </label><br />
	<input type="radio" name="type" /><label for="">QuickTip </label><br />
</div>
<div class="left" style="width: 30%">
	<h2 class="ui-widget-header"><span>Comments/History</span></h2>
	<div id="accordion">
		<h3><span class="moveright">Comments</span></h3>
		<div>Comments
			<ul>
				<li>Comment 1</li>
				<li>Comment 2</li>
				<li>Comment 3</li>
				<li>Comment 4</li>
				<li>Comment 5</li>
				<li>Comment 6</li>
			</ul>
		</div>
		<h3><span class="moveright">History</span></h3>
		<div >History
			<ul>
				<li>History 1</li>
				<li>History 2</li>
				<li>History 3</li>
				<li>History 4</li>
				<li>History 5</li>
				<li>History 6</li>
			</ul>
		</div>
	</div>
</div>
<div id="tasksList" class="left"  style="width: 30%">

</div>
</div>	