<div class="boxpad">
	<h1 class="ui-widget-header title"><span class="">Cell Suggestion Entry</span></h1>
</div>
<div class="content">
	<div id="tags" class="border right boxpad">
		<h2 class="ui-widget-header"><span>Tags</span></h2><br />
		<input id="search" placeholder="search tags" /><br />
		<ul>
			<li>Quick Tip</li>
			<li>Excel</li>
			<li>PeopleSoft</li>
			<li>Forklift</li>
			<li>Quick Tip</li>
			<li>Excel</li>
			<li>PeopleSoft</li>
			<li>Forklift</li>
			<li>Quick Tip</li>
			<li>Excel</li>
			<li>PeopleSoft</li>
			<li>Forklift</li>
			<li>Quick Tip</li>
			<li>Excel</li>
			<li>PeopleSoft</li>
			<li>Forklift</li>
		</ul>
	</div>
	<div id="create-model" class="border ofh" style="width:650px;">
	  <input id="iassociateID" type="hidden" />
	  <input id="iassociate" placeholder="Associate:" type="text" />	  
	  <input id="idate" placeholder="Date:" type="text" size="8" />
	  
	  <label for="Machine">Machine</label>
	  <input id="imachine" placeholder="Machine:" type="text" size="6" />ID<span id="imachineID" >n/a</span>
	  <label for="Cell">Cell </label><span id="scell" >n/a</span><label for="workcenter">Workcenter </label><span id="sworkcenter" >n/a</span><br />
	  <textarea id="iidea" placeholder="Enter Idea here:" cols="40" rows="5" ></textarea>
	  <textarea id="igain" placeholder="How will this improve the process (Gains)?" cols="40" rows="5"></textarea><br />
	  <button id="btnCreate" class="right">Create</button>
	</div>
	
	<div id="models" class="border boxpad left" style="margin-top: 7px">
		<h2 class="ui-widget-header"><span >Current Ideas Entered</span></h2><br />
	  	
	  	<table id="list"> 
	  		<tr><th class="hcell">PE Number</th><th class="hcell">Date</th><th class="hcell">Machine</th><th class="hcell">Associate</th></tr>	
	  	</table>
	  	<div id="todo-stats"> </div>
	</div>
	
	
	
</div>
