	<style>
	    .slick-group-title[level='0'] {
	      font-weight: bold;
	    }
	
	    .slick-group-title[level='1'] {
	      text-decoration: underline;
	    }
	
	    .slick-group-title[level='2'] {
	      font-style: italic;
	    }
  	</style>
	<h1 class="tabletitle">Inventory/Counting</h1>
	<div class="defaultForm">Search By:<br />
		Component<input type="text" id="component" size="12" /> <br />
		Item<input type="text" id="item" size="12" /> <br />
		PID<input type="text" id="pid" size="12" value="{{pid}}" />
	</div>
		
	<div id="slickGrid"></div>
	