	<h1 class="tabletitle">Inventory/Counting</h1>
	<div id="create-model">
		PID<input type="text" id="iPID" size="9" /> OpSeq<input type="text" id="iopseq" size="2" /><button class='loadtable'>Load PID</button>
	</div>
	
	<ul id="pidList" class="tbody">
	<div class='row header'>
	<span class="hcell">pid</span>
	<span class="hcell">opseq</span>
	<span class="hcell">machine</span>
	<span class="hcell">Shift</span>
	<span class="hcell">Qty Completed</span>
	<span class="hcell">Scrap<li class="ui-state-default ui-corner-all .ui-icon" style="float:right;" title="Counter - Total packed"></li></span>
	<span class="hcell">Total</span>
	<span class="hcell">Total Ft</span>
	<span class="hcell">Endscrap ft</span>
	<span class="hcell">operator</span>
	<span class="hcell">date</span>
	</div>

	<!-- Here is where I need to add a list of PID Module views instead of the following-->
	
	</ul>
	<div id="collection-stats"> </div>
	<button class="btnRun">Run Process</button><br />
	<iframe id='autoentry' src="" >Error! An Iframe in not showing.</iframe>
	