<style>
	.defaultForm input{
		margin-left: 50px;
		}
	.defaultForm label {
		float: left;
	}	
</style>
<div class="defaultForm">
		<div>
		<label>Error found by</label><input class="editable" data-attr="UserName" type="text" /></div>
		<div>
		<label>Item</label><input data-attr="Item" type="text" />
		</div>
		<label>Inventory Status</label><input data-attr="InventoryStatus" type="text" />
		<br>
		<label>by a quantity of</label><input data-attr="AmountIncorrect" type="text" />
	 	<br>
		<label title="This was found on a(n)">Error Type</label><input data-attr="ErrorType" type="text" />
		<br>
		<label>Picked by</label><input data-attr="PickedBy" type="text" />
		<br>
		<label title="For Customer Claims">Customer Number</label><input data-attr="Order_Num" type="text" />
</div>