<link rel="stylesheet" href="js/lib/css/bootstrap.min.css">
<link rel="stylesheet" href="js/lib/css/font-awesome.min.css">
<style>  
	#feedback { font-size: 1.4em; }  
	#selectable .ui-selecting { background: #FECA40; }  
	#selectable .ui-selected { background: #F39814; color: white; }  
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 100% }  
	#selectable li { margin: 3px; padding: 1px; float: left; width: 30px; text-align: center; } 
	.ui-icon- 
</style>
<div id="resizable" class="" style="height:500px; width:60%;">
	<h2 class="ui-widget-header ofh"><span>Pieces Per Hour</span>
		<div class="right">
		<button id="printLandscape" class="ui-button ui-btn-small" title="Print Chart">
			<span class="ui-button-icon-primary ui-icon ui-icon-print"/>
		</button>
		<button type="button" id="chartOptions" class="ui-button-primary ui-btn-small" title="Change Options">
			<i class="ui-button-icon-primary ui-icon ui-icon-gear"/>
		</button>
		</div>	
		<div id='optionsView' class="z2k"></div>
	</h2>
	<div class="plotOptions border left defaultForm" style="width: 20%">
		<div class="inline">
			<input id="startDate" class='dPicker inline' type="text" value="{{startDate}}" size="8"/>
  			<span class="inline"><span class="ui-icon ui-icon-triangle-1-e"></span></span>
  			<input id="endDate" class='dPicker inline' type="text" value="{{endDate}}" size="8"/>
  		</div>
		<div class="">			
			Month<input type="radio" name="groupBy" value="month" checked="checked" /> 
			Day<input type="radio" name="groupBy" value="day" />
		</div>
		<div class=""> 
			Branch<input type="radio" name="level" id="rbranch" value="Branch" checked="checked" />
			Machine<input type="radio" name="level" id="rmachine" value="Machine" />
		</div>
		<br/>
		Select machine group:
		<select id="machineGroups">
			<option value="">Select group...</option>
			{{#each machineTypes}}
			<option value="{{@index}}">{{this.name}}</option>
			{{/each}}
		</select>
		<div class="searchBox noprint">
			Customize a group:
		  	<input id="imachine" placeholder="Click here to search..." type="text" size='15'/>	  	
	  	</div>
		<br />Current Machines Included:
		<ol id="selectable">
			N/A 
		</ol>
		
	</div>	
	<div id="plot" class="border left" style="min-height: 300px; height: 90%; width:78%;">
		
	</div>
</div>
<br />
<br />
<div id="sql"></div>
<div id='processRecord' class="border noprint" style="min-height: 300px; width:98%;">
	
</div>
<div class="quicktipsview noprint">
	
	<ul class="left"><h3><span>QuickTips</span></h3>
		<li>Search Machines and add to chart by selecting</li>
		<li>Click and drag on chart to zoom</li>
		<li>Double-Click to reset zoom</li>
		<li>Click on legend names to Add/Remove Data</li>
		<li>Hover over data point to view additional information</li>
		<li>Drag edges of chart to resize</li>
		<li>Click on an point on the chart to display additional data for that day</li>		
	</ul>
	
	<ul class="left"><h4><span>Next Steps</span></h4>
		<li><input type="checkbox" />Add total run, setup, down, completed, to highlighter</li>
		<li><input type="checkbox" />Add new chart: Runtime %</li>
		<li><input type="checkbox" />Create other charts in order of: Pieces Produces, average setup, # of PIDs, # Items, Downtime</li>
		<li><input type="checkbox" />Turn off/on trend lines (Dave)</li>
		<li><input type="checkbox" />Add machine descriptions (Mary Richter)</li>
		<li><input type="checkbox" />Turn off/on labels (Mary Richter)</li>
		<li><input type="checkbox" checked="checked" />Fixed Error with dates displaying incorrectly -done 5/30/2013</li>
		<li><input type="checkbox" checked="checked" />Lines have padding now -done 5/15/2013</li>
		<li><input type="checkbox" checked="checked" />Not filtering machines correctly at Month level  -done 4/8/2013</li>
		<li><input type="checkbox" checked="checked" />Review with some in Hastings to test functionality -done 4/8/2013</li>
		<li><input type="checkbox" checked="checked" />Numbers are duplicating (Travis) -done 4/8/2013</li>
		<li><input type="checkbox" checked="checked" />Click to view raw data per point -done 4/8/2013</li>
		<li><input type="checkbox" checked="checked" />Add static colors per branch -done 4/8/2013</li>
		<li><input type="checkbox" checked="checked" />Drill down from Corporation level to individual machines  -done 3/21/2013</li>
		<li><input type="checkbox" checked="checked" />Group by Days or Months (maybe weeks) -done 3/21/2013</li>
		<li><input type="checkbox" checked="checked" />Compare Multiple Machines on the same chart -done 3/20/2013</li>
		<li><input type="checkbox" checked="checked" />Dynamic Date Range -done 3/19/2013</li>
		<li><input type="checkbox" checked="checked" />On Machine Select -> Load Graph -done 3/19/2013</li>
		<li><input type="checkbox" checked="checked" />Create initial web module</li>
			
		
	</ul>
	<div class="noSelect clearfloat noprint">Browse graph styles <a href="js/lib/jqplot/examples/index.html" target="_blank" >here</a>then submit an idea of the new graph style and data you would like to see.</div>
</div>
