<div class="title">
	<h1>{{title}}</h1><img src="assets/images/Performance2.jpg" />
</div>	
<div class="content">
	<div id="listArea" class="table">
	<table id="list">
	  	<thead>
	  	<tr class='row header'>
	  		
	  		<th class="hcell" rowspan="2"><span >Machine</span></th>
			<th colspan="3" class="hcell" > <span >Goal %</span></th>
			<th colspan="3" class="hcell" ><span >Machine Runtime %</span></th>
			<th colspan="3" class="hcell" ><span >Scrap %</span></th>
			<th colspan="3" class="hcell" ><span >Pieces Per Assigned Hour</span>
		</tr>
		<tr class='row header'>	
			<th class="hicell"><span>Past 30 Days</span></th>
			<th class="hicell"><span>Past 7 Days</span></th>
			<th class="hicell"><span class='day'>Monday</span></th>
			<th class="hicell"><span>Past 30 Days</span></th>
			<th class="hicell"><span>Past 7 Days</span></th>
			<th class="hicell"><span class='day'>Monday</span></th>
			<th class="hicell"><span>Past 30 Days</span></th>
			<th class="hicell"><span>Past 7 Days</span></th>
			<th class="hicell"><span class='day'>Monday</span></th>
			<th class="hicell"><span>Past 30 Days</span></th>
			<th class="hicell"><span>Past 7 Days</span></th>
			<th class="hicell"><span class='day'>Monday</span></th>
		</tr>
		</thead>
		<tbody>
			<tr class="gdark" id="m4226"><td class="cell c520" rowspan="5">520</td></tr>
			<tr class="gdark" id="m4398"></tr>
			<tr class="glight" id="m3818"></tr>
			<tr class="glight" id="m3819"></tr>
			<tr class="gdark" id="m4270"></tr>
			<tr class="glight" id="m3191"><td class="cell c524" rowspan="5">524</td></tr>
			<tr class="glight" id="m3570"></tr>
			<tr class="glight" id="m4706"></tr>
			<tr class="gdark" id="m3555"></tr>
			<tr class="gdark" id="m519"></td></tr>
			<tr class="glight" id="m5992"><td class="cell c526">526</td></tr>
		</tbody>
		<tbody>
			<tr class="odark" id="m3729"><td class="cell c521" rowspan="3">521</td></tr>
			<tr class="olight" id="m631"></tr>
			<tr class="olight" id="m698"></tr>
			<tr class="odark" id="m3700"><td class="cell c523" rowspan="7">523</td></tr>
			<tr class="odark" id="m4878"></tr>
			<tr class="odark" id="m564"></tr>
			<tr class="olight" id="m3456"></tr>
			<tr class="olight" id="m4033"></tr>
			<tr class="olight" id="m4963"></tr>
			<tr class="olight" id="m5019"></tr>
			<tr class="odark" id="m4291"><td class="cell c525" rowspan="2">525</td></tr>
			<tr class="olight" id="m4677"></tr>
		</tbody>
		<tbody>
			<tr class="pdark" id="m5147"><td class="cell c522" rowspan="10">522</td></tr>
			<tr class="plight" id="m2105"></tr>
			<tr class="plight" id="m3757"></tr>
			<tr class="pdark" id="m4077"></tr>
			<tr class="pdark" id="m9141"></tr>
			<tr class="plight" id="m9343"></tr>
		</tbody>
	</table>
	</div>
	
	<div id="list-stats"> </div>
</div>
