<td class='cell'><span>{{Cell}}</span></td>  
<td class='cell'><span>{{Workcenter}}</span></td>    
<td class='cell'><span>{{MachineCode}}</span></td>
   
	<td class='cell'><span>{{ ProductionRateMonth }}</span></td>
	<td class='cell'><span >{{ ProductionRateWeek }}</span></td>
	<td class='cell'><span >{{ ProductionRateDay }}</span></td>
   
	<td class='cell'><span >{{ MachineRunTimePercentageMonth }}%</span></td>
	<td class='cell'><span >{{ MachineRunTimePercentageWeek }}%</span></td>
	<td class='cell'><span >{{ MachineRunTimePercentageDay }}%</span></td>
   
	<td class='cell'><span >{{ ScrapPercentageMonth }}%</span></td>
	<td class='cell'><span >{{ ScrapPercentageWeek }}%</span></td>
	<td class='cell'><span >{{ ScrapPercentageDay }}%</span></td>
    
	<td class='cell'><span >{{ GoalPercentageMonth }}%</span></td>
	<td class='cell'><span >{{ GoalPercentageWeek }}%</span></td>
	<td class='cell'><span >{{ GoalPercentageDay }}%</span></td>
