<div class="title">
	<h1>{{title}}</h1>
</div>
<div class="content">
	<button class='loadtable'>Load Machines</button>
	<div id="listArea" class="table">
	<table id="list" border="1">
	  
	  	<tr class='row header'>
	  		<th class="hcell"><span >Cell</span></th>
	  		<th class="hcell"><span >Workcenter</span></th>
	  		<th class="hcell"><span >Machine</span></th>
			<th colspan="3" class="hcell" ><span >Pieces Per Hour</span>
			<th colspan="3" class="hcell" ><span >Machine Uptime %</span></th>
			<th colspan="3" class="hcell" ><span >Scrap %</span></th>
			<th colspan="3" class="hcell" > <span >Goal %</span></th>
		</tr>
		<tr class='row header'>
			<th class="hcell"></th>
			<th class="hcell"></th>
			<th class="hcell"></th>	
			<th class="hcell"><span>Month</span></th>
			<th class="hcell"><span>Week</span></th>
			<th class="hcell"><span>Day</span></th>
			<th class="hcell"><span>Month</span></th>
			<th class="hcell"><span>Week</span></th>
			<th class="hcell"><span>Day</span></th>
			<th class="hcell"><span>Month</span></th>
			<th class="hcell"><span>Week</span></th>
			<th class="hcell"><span>Day</span></th>
			<th class="hcell"><span>Month</span></th>
			<th class="hcell"><span>Week</span></th>
			<th class="hcell"><span>Day</span></th>
		</tr>

	</table>
	</div>
	
	<div id="list-stats"> </div>
</div>
