<div id="header">
	<button id="restart" class="restart">Restart App</button>
	<div id='tabs'>
		<input type="radio" id="radio5" name="radio" checked="checked" /><a href="#main/view" >Home</a>
		<input type="radio" id="radio1" name="radio" /><a href="#main/TodoApp" >Todolist</a>
		<input type="radio" id="radio2" name="radio" /><a href="#main/PSApp" >PeopleSoft Entry</a>
		<input type="radio" id="radio4" name="radio" /><a href="#main/MachPerfApp" >Machine Performance</a>
		<input type="radio" id="radio6" name="radio" /><a href="#main/IdeaApp" >Idea Tracking</a>
		<input type="radio" id="radio7" name="radio" /><a href="#main/GraphApp" >Reports</a>
	</div>
</div>

<div id="mainview" >
</div>
<div id="footer"><div id='poweredBy'><br />Powered By SmeadEngineering<br />Cedar City</div> </div>
<div id="loading" class="loading-invisible">  <span>Loading Data... <img src="assets/images/ajax-loader2.gif" /></span></div>
