<div id="header" class="relative"> 
	<button type="button" id="restart" class="restart">Restart App</button>
	<div id='tabsmenu'>
		<input type="radio" id="radio5" name="radio" checked="checked" /><a href="#main/view" >Home</a>
		<input type="radio" id="radio1" name="radio" /><a href="#main/TodoApp" >Todolist</a>
		<input type="radio" id="radio2" name="radio" /><a href="#main/PSApp" >PeopleSoft Entry</a>
		<input type="radio" id="radio4" name="radio" /><a href="#main/MachPerfApp" >Machine Performance</a>
		<input type="radio" id="radio6" name="radio" /><a href="#main/IdeaApp" >Idea Tracking</a>
		<input type="radio" id="radio7" name="radio" /><a href="#main/GraphApp" >Reports</a>
		<input type="radio" id="radio8" name="radio" /><a href="#main/ProductionApp" >Production</a>
		<input type="radio" id="radio9" name="radio" /><a href="#main/InventoryApp" >Inventory</a>
		<input type="radio" id="radio10" name="radio" /><a href="#main/TasksApp" >Task</a>
	</div>
	<ul id='links'>
		{{#each apps}}
		<li ><a href="#main/{{this.path}}">{{this.title}}</a></li>
		{{/each}}
	</ul>
</div>
<table id="testtable" class="tablesorter">
<thead>
	<tr>
		<th>Letters&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Numbers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>a</td><td>5</td>
	</tr>
	<tr>
		<td>b</td><td>4</td>
	</tr>
	<tr>
		<td>c</td><td>3</td>
	</tr>
	<tr>
		<td>d</td><td>2</td>
	</tr>
	<tr>
		<td>e</td><td>1</td>
	</tr>
	<tr>
		<td>a</td><td>1</td>
	</tr>
	<tr>
		<td>b</td><td>2</td>
	</tr>
	<tr>
		<td>c</td><td>3</td>
	</tr>
	<tr>
		<td>d</td><td>4</td>
	</tr>
	<tr>
		<td>e</td><td>5</td>
	</tr>
</tbody>
</table>
<div id="mainview" class="relative" style="z-index:1;width:100%">
	<div id="appview">
		<h1>Welcome {{Name}}</h1>
		<img src="assets/images/AID{{Associate_ID}}.jpg" width="95%" height="250px"  />
		
	</div>



</div>
	
<div id="tabs" class="tabs-bottom absolute ofh" style="z-index:1002;display:block;">    
	 
	<div id="tabs-1" style="height: 0px;width: 0px"></div>
	<ul style="position:inherit;display:block">        
		<li><a href="#tabs-1">Changes</a></li>        
		<li><a href="#tabs-2">Help</a></li>        
		<li><a href="#tabs-3">Chat</a></li>
		<li><a href="#tabs-4">Chat</a></li> 
		<li><a href="#tabs-4">Chat</a></li>     
		<li><a href="#tabs-4">Chat</a></li>
	</ul>
</div>

<div id="footer">

	<div class="left " style="z-index:1;">Logged in as: {{username}}</div><div id='poweredBy' class="" style="z-index:1;">Powered By SmeadEngineering<br />Cedar City</div> 
</div>

<div id="loading" class="loading-invisible">  <span>Database Interaction... <img src="assets/images/ajax-loader2.gif" /></span></div>
