	<label for="">Idea </label><br />
	<textarea placeholder="idea" cols="10" rows="4" class="resizable">{{idea}} </textarea>
	
	<h3>Tags</h3>
	<style>    
		#selectable .ui-selecting {        
			background: #ccc;    
		}    
		#selectable .ui-selected {        
			background: #999;    
		}
		#selectable li {        
			 margin: 3px; padding: 1px; float: left; text-align: center;   
		}     
		</style>
		Applies to: <select>
			<option>3191</option>
			<option>3191</option>
			<option>3191</option>
		</select>
	<ul id="selectable">    
		<li>Item 1</li>    
		<li>Item 2</li>    
		<li>Item 3</li>    
		<li>Item 4</li>    
		<li>Item 5</li>
	</ul><br />	
	<ul id="tags">    
		<li>Computer Bug<input type="checkbox" {{#if tags}}checked="checked"{{/if}} name="tags" /></li>    
		<li>Cell Enhacement<input type="checkbox" name="tags" /></li>    
		<li>Stops Production<input type="checkbox" name="tags" /></li>    
		<li>Slows<input type="checkbox" name="tags" /></li>    
		<li>Critical<input type="checkbox" name="tags" /></li>
	</ul><br />
	Other Tags <input type="text" name="tags" /><label for="">QuickTip </label><br />			
	<input type="radio" name="type" checked="checked" /><label for="">Production </label><br />
	<input type="radio" name="type" /><label for="">Computer </label><br />
	<input type="radio" name="type" /><label for="">QuickTip </label><br />
	<button id='btnCreate'>Create Idea</button>
