<div class="title">
	<h1>Operator Tracking</h1>
</div>

<span class="noSelect">Browse graph styles <a href="js/lib/jqplot/examples/index.html" target="_blank" >here</a> 
	then submit an idea of the new graph style and data you would like to see.
</span>
<br />
<br />
<div class="clearfloat defaultForm">
	<div class="searchBox noprint">
		<label for="Machine">Search Qualifications:</label>
	  	<input id="iqualification" placeholder="Click here to search..." type="text" size="34" /><br />
  	</div>
	<div class="left">
		<label for="Associate">Associate</label><span id="sAssociate" class="spanInput">n/a</span>
	  	<label for="Cell">Associate Cell</label><span id="scell" class="spanInput">n/a</span>
	  	<label for="Cell">AssociateToQualification_ID (for testing)</label><span id="atq_id" class="spanInput">n/a</span>
  	</div>
  <div class="clearfloat"></div>  
</div>

<div id="resizable" class="border relative">
	<div id="plot" style="min-height: 300px; height: 98%; width:98%;">
		
	</div>
</div>

<div><span>Moused Over: </span><span id="info1b">Nothing</span><span>Moused Over: </span><span id="info1c">Nothing</span></div>
<div class="vspacer noprint"> </div>
<div class="quicktipsview noprint">
	QuickTips
	<ul>
		<li>Search Qualifications by First Name or Last Name or Qualification Name</li>
		<li>Click and drag on chart to zoom</li>
		<li>Double-Click to reset zoom</li>
		<li>Click on legend names to Add/Remove Data</li>
		<li>Hover over data point to view additional information</li>
		<li>Drag edges of chart to resize</li>		
	</ul>
	Next Steps
	<ul>
		<li>Click on performance data point to display raw data</li>
		<li>Display more Operator Stage information (next stage increase,current minutes, etc.)</li>
		<li>Quick print buttons</li>
	</ul>
</div>
