<style>
	.form-inline span {
		font-size: 24px;
		font-family: inherit;
		line-height: 1.4em;
		border: 0;
		outline: none;
		padding: 2px;
		margin: 2px;
		margin-left:5px;
	}
	
</style>
<div class="clearfloat defaultForm">
	<div class="searchBox noprint">
		<label for="Machine">Search Qualifications:</label>
	  	<input id="iqualification" placeholder="Click here to search..." type="text" size="34" /><br />
  	</div>
	<div class="form-inline">
		<label for="Associate">Associate</label><span id="sAssociate">n/a</span>
	  	<label for="Cell">Associate Cell</label><span id="scell">n/a</span>
	  	<label for="qualName">Qualification Name</label><span id="qualName">n/a</span>
	  	{{#if debug}}
	  	<label for="Cell">AssociateToQualification_ID (for testing)</label><span id="atq_id">n/a</span>
	  	{{/if}}
	  	<label for="Cell">Current Stage</label><span id="cS">n/a</span>
	  	<label for="Cell">Last Review</label><span id="cD">n/a</span><br />
	  	<label for="Cell">Current Shifts</label><span id="cM">n/a</span>
	  	<label for="Cell">Next Review in (shifts) </label><span id="nS">n/a</span>
	  	<label for="Cell">Next % Increase </label><span id="nS">(not working yet)</span>
  	</div> 
</div>

<div class="" id="plotarea">...</div>


<div class="quicktipsview noprint clearfloat">
	<ul class="left"><h3><span>QuickTips</span></h3>
		<li>Search Qualifications by First Name or Last Name or Qualification</li>
		<li>Click and drag on chart to zoom</li>
		<li>Double-Click to reset zoom</li>
		<li>Click on legend names to Add/Remove Data</li>
		<li>Hover over data point to view additional information</li>
		<li>Drag edges of chart to resize</li>
		<li>Click on an point on the chart to display additional data for that day</li>		
	</ul>
	<ul class="left"><h4><span>Next Steps</span></h4>
		<li><input type="checkbox" />Add Table to highlighter that shows setup, AssignedMInutes,Runtime. Target and percentage</li>
		<li><input type="checkbox" />Get % increase to display correctly</li>
		<li><input type="checkbox" />Quick print buttons</li>
		<li><input type="checkbox" />Add Trendlines</li>
		<li><input type="checkbox" />Process Record: Add CompiledReportingData</li>
		<li><input type="checkbox" checked="checked" />Process record showing times and counters - 3/25/2013</li>
		<li><input type="checkbox" checked="checked" />Click on performance data point to display raw data</li>
		<li><input type="checkbox" checked="checked" />Display more Operator Stage information (next stage increase,current minutes, etc.)</li>			
	</ul>
	<span class="noSelect clearfloat">Browse graph styles <a href="js/lib/jqplot/examples/index.html" target="_blank" >here</a> 
	then submit an idea of the new graph style and data you would like to see.
</span>
</div>
