<div class="title">
	<h1>Operator Tracking</h1>
</div>

<span>Browse graph styles <a href="js/lib/jqplot/examples/index.html" target="_blank" >here</a> 
	then submit an idea of the new graph style and data you would like to see.
</span>
<br />
<br />
<div class="clearfloat defaultForm">
	<div class="searchBox noprint">
		<label for="Machine">Search Qualifications:</label>
	  	<input id="iqualification" placeholder="Click here to search..." type="text" size="34" /><br />
  	</div>
	<div class="left">
		<label for="Associate">Associate</label><span id="sAssociate" class="spanInput">n/a</span>
	  	<label for="Cell">Associate Cell</label><span id="scell" class="spanInput">n/a</span>
	  	<label for="Cell">AssociateToQualification_ID (for testing)</label><span id="atq_id" class="spanInput">n/a</span>
  	</div>
  <div class="clearfloat"></div>  
</div>

<div id="resizable" class="border relative">

	<div id="plot" style="min-height: 300px; height: 98%; width:98%;border:2px solid green">
		
	</div>
</div>
<div class="vspacer"> </div>
<div><span>Moused Over: </span><span id="info1b">Nothing</span><span>Moused Over: </span><span id="info1c">Nothing</span></div>
