<span class='cell border'>{{pid}}<br />Status: {{status}}</span>
<span class='cell border'>op: {{opseq}}</span>
<span class='cell border'>{{machine}}<br />UOM: {{UnitOfMeasure}}</span>
<span class='cell border'>{{shift}}</span>
<span class='cell border'>
	CED: {{CEDQty}}<br />
	PS: {{PSQty}}<br />
	ADC: {{ADCQty}}
</span>
<span class='cell border'>
	CED: {{CEDScrap}}<br />
	PS: {{PSScrap}}<br />
	ADC: {{ProcessScrap}}
</span>
<span class='cell border'>{{endscrap}} <input type="checkbox" class="chkendscrap" {{#if enterendscrap}}checked="checked"{{/if}} /></span>
<span class='cell border'>{{operator}}</span>
<span class='cell border'>{{date}}</span>

