<div class="title">
	<h1>Smead Analytics - The New View</h1>
</div>
<button id="btnTest">Load Graph</button>
<button id="btnTest">CorpEfficiency</button>
<button id="btnTest">CedProdPerf</button>
<button id="btnTest">...</button>
<button id="btnTest">...</button>
<button id="btnRun">Change Data</button>
<span>Browse graph styles <a href="js/lib/jqplot/examples/index.html" target="_blank" >here</a> 
	then submit an idea of the new graph style and data you would like to see.
</span>
<h2>Interactive</h2>				
<div class='graphdaterange'><!-- Slider -->
<h2 class="demoHeaders">Slider</h2>
<div id="slider"></div>
<span>From:</span><span id="dtFrom">1900</span>
<span>To:</span><span id="dtTo">1999</span>
</div>
<div class='breadcrumbs'>Bread > Crumbs</div>


<div class='graphfilters border' style="width:18%;">graphfilters
	<ul>
		<li>Net Qty Produced</li>
		<li>Scrap</li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div id="resizable" class="border relative">
	<div id="plot" style="min-height: 300px; height: 98%; width:98%;border:2px solid green">
		
	</div>
</div>
<div class="vspacer"> </div>
<div><span>Moused Over: </span><span id="info1b">Nothing</span></div>

<div id="plot2" style="min-height: 250px; height: 98%; width:300px;border:2px solid green; padding: 15px" class="left">
	
</div>
<div id="plot6" style="min-height: 250px; height: 98%; width:300px;border:2px solid green" class="left">
	
</div><div id="plot3" style="min-height: 250px; height: 98%; width:300px;border:2px solid green" class="left">
	
</div><div id="plot4" style="min-height: 250px; height: 98%; width:300px;border:2px solid green" class="left">
	
</div><div id="plot5" style="min-height: 250px; height: 98%; width:300px;border:2px solid green" class="left">
	
</div>