<td class='cell border'>{{lineNum}}</td>
<td class='cell border'>{{pid}}</td>
<td class='cell border'>op: {{opseq}}</td>
<td class='cell border'>{{crew}}<br />{{taskcode}}</td>
<td class='cell border'>{{setupClock}}</td>
<td class='cell border'>{{runClock}}</td>
<td class='cell border'>{{endClock}}</td>
<td class='cell border'>{{breaks}}</td>
<td class='cell border'>A {{assignedminutes}}<br />R {{reassignedminutes}}</td>
<td class='cell border'>{{startMeter}}</td>
<td class='cell border'>{{endMeter}}</td>
<td class='cell border'>R {{runTime}}<br />D {{downTime}}</td>
<td class='cell border'>{{startCounter}}</td>
<td class='cell border'>{{endCounter}}</td>
<td class='cell border'>{{totalPacked}}</td>
<td class='cell border'>{{scrap}}</td>
<td class='cell border'>Package: {{UnitOfMeasure}}<br />Status: {{status}}<br />{{itemDescription}}</td>
