<div class="boxpad">
	<h1 class="ui-widget-header title"><span class="">Facilitator - Priority Scheduling</span></h1>
</div>
<div class="content">
	<ol id="sortable">    
		<li>Item 1</li>    
		<li>Item 2</li>    
		<li>Item 3</li>    
		<li>Item 4</li>    
		<li>Item 5</li>
	</ol>
	<div id="accordion">    
		<h3 style="padding-left: 1.5em">2-153C</h3>    
		<div>        
			<p> Staples National - 2000</p>
			<p> SP Richards - 1500</p>
			<p> Office Depot - 2500</p>    
		</div>    
		<h3 style="padding-left: 1.5em">PID1558933</h3>    
		<div>        
			<p>Cras ibus orci luctus et ultrices posuere cubilia Curae; Aenea </p>    
		</div>    
		<h3 style="padding-left: 1.5em">PID1560234</h3>    
		<div>        
			<p> </p>        
			<ul>            
				<li>Staples National - 2000</li>            
				<li>SP Richards - 1500</li>            
				<li>Office Depot - 2500</li>        
			</ul>    
		</div>    
		<h3 style="padding-left: 1.5em">Section 4</h3>    
		<div>       
			 <p>Cras ibus orci luctus et ultrices posuere cubilia Curae; Aenea </p>
			 <p>Suspendisse eu nisl. Nullam ut libero. Integer dignissimnt per conubia nostra, per inceptos himenaeos. </p>    
		</div>
	</div>
		
	<div id="cellpriorityList">
		<h2 class="ui-widget-header"><span>Cell List</span></h2> 
		<table id="sortable1" class="connectedSortable">
			<thead>
				<tr><td class="border hcell">Item</td><td class="border hcell">Available qty</td><td class="border hcell">PID</td><td class="border hcell">Qty to Produce</td></tr>
			</thead>
			<tbody>
				<tr><td class="border cell">2-153C</td><td class="border cell">400</td><td class="border cell">PID1558403</td><td class="border cell">20000</td></tr>
				<tr><td class="border cell">2-153C</td><td class="border cell">400</td><td class="border cell">PID1558933</td><td class="border cell">6000</td></tr>
				<tr><td class="border cell">2k2-153C-1&3</td><td class="border cell">0</td><td class="border cell">PID1560234</td><td class="border cell">5000</td></tr>
				<tr><td class="border cell">4</td><td class="border cell">0</td><td class="border cell">PID1560345</td><td class="border cell">5000</td></tr>
				<tr><td class="border cell">5</td><td class="border cell">0</td><td class="border cell">PID1560788</td><td class="border cell">5000</td></tr>
				<tr><td class="border cell">5</td><td class="border cell">0</td><td class="border cell">PID1560788</td><td class="border cell">5000</td></tr>
			</tbody>
		</table> 
	</div>
	<div id="machinepriorityList">
		<h2 class="ui-widget-header"><span>Machine List</span></h2> 
		<table id="sortable2" class="connectedSortable">
			<thead>
				<tr><td class="border hcell">Priority</td><td class="border hcell">PID</td><td class="border hcell">Qty to Produce</td><td class="border hcell">Barcode</td></tr>
			</thead>
			<tbody>
				<tr><td class="border cell">1</td><td class="border cell">PID1560496</td><td class="border cell">5000</td><td class="border cell boxpad barcode">*PID1560496*</td></tr>
				<tr><td class="border cell">2</td><td class="border cell">PID1560123</td><td class="border cell">5000</td><td class="border cell barcode">*PID1560496*</td></tr>
				<tr><td class="border cell">3</td><td class="border cell">PID1560234</td><td class="border cell">5000</td><td class="border cell barcode">*PID1560496*</td></tr>
				<tr><td class="border cell">4</td><td class="border cell">PID1560345</td><td class="border cell">5000</td><td class="border cell barcode">*PID1560496*</td></tr>
				<tr><td class="border cell">5</td><td class="border cell">PID1560788</td><td class="border cell">5000</td><td class="border cell barcode">*PID1560496*</td></tr>
			</tbody>
		</table>		
	</div>
</div>
