<div class="boxpad">
	<h1 class="ui-widget-header title"><span class="">Todos</span></h1>
</div>
<div class="content">
	<ol id="sortable">    
		<li>Item 1</li>    
		<li>Item 2</li>    
		<li>Item 3</li>    
		<li>Item 4</li>    
		<li>Item 5</li>
	</ol>			
	<div id="cellpriorityList">
		<h2 class="ui-widget-header"><span>Cell List</span></h2> 
		<ul id="sortable1" class="connectedSortable">			   
			<li ><span class="cell border">Item 1</span><span class="cell border">5000</span></li>    
			<li>Item 2</li>    
			<li class="ui-state-default">Item 3</li>    
			<li class="ui-state-default">Item 4</li>    
			<li class="ui-state-default">Item 5</li>
		</ul> 
	</div>
	<div id="machinepriorityList">
		<h2 class="ui-widget-header"><span>Machine List</span></h2> 
		<ul id="sortable2" class="connectedSortable">			   
			<li>Item 1 <span class="barcode">PID1560496</span></li>    
			<li>Item 2 <span class="barcode">PID1560496</span></li>    
			<li class="ui-state-highlight">Item 3 PID1560496 <span class="barcode">PID1560496</span></li>    
			<li class="ui-state-highlight">Item 4 <span class="barcode">PID1560496</span></li>    
			<li class="ui-state-highlight">Item 5 <span class="barcode">PID1560496</span></li>
		</ul>	
	</div>
</div>
