	<h1 class="tabletitle">PeopleSoft Entry</h1>
	<button type="button" class='loadtable'>Load PIDs</button><button type="button" class='printPIDs'>Print</button><br />
	<h1 class="ui-widget-header title"><span class="">Filters</span></h1>
	<div id="pidfilters">
		PID: <input class="colfilter" filteron="pid" type="text" size="10" style="margin-right:10px" /><br />
		Machine: <input class="colfilter" filteron="machine" type="text" size="10" style="margin-right:10px" /><br />
		<input class="colfilter" filteron="pid" type="text" size="10" style="margin-right:10px" /><br />
		999 flaged: <input type="checkbox" checked="checked" filteron="flag"  class="filter" /><br />
		<button type="button" id="filterclear">Clear Filters</button>
	</div>
	<table id="pidList" class="psEntryTable tablesorter">
	<thead class='row header'><tr>
		<th class="hcell">pid<br /></th>
		<th class="hcell">opseq</th>
		<th class="hcell">machine<br /></th>
		<th class="hcell">shift</th>
		<th class="hcell">qtycompleted</th>
		<th class="hcell">scrap <span class="ui-state-default ui-corner-all .ui-icon" style="float:right;" title="Counter - Total packed"><span class="ui-icon ui-icon-help"></span></span></th>
		<th class="hcell">endscrap</th>
		<th class="hcell">setuptime</th>
		<th class="hcell">runtime</th>
		<th class="hcell">downtime</th>
		<th class="hcell">operator</th>
		<th class="hcell">date</th>
		<th class="hcell">componentcode</th>
		<th class="hcell">999 Flag</th>
		<th class="hcell">Entered</th>
		</tr>
	</thead>
	
	<tbody id="pidlisttbody" class="tablebody">
		
	</tbody>

	<!-- Here is where I need to add a list of PID Module views instead of the following-->
	
	</table>
	<div id="collection-stats"> </div>
	<button type="button" class="btnRun">Run Process</button><br />
	<iframe id='autoentry' src="" >Error! An Iframe in not showing.</iframe>
	