	<h1 class="tabletitle">PeopleSoft Entry</h1>
	<button class='loadtable'>Load PIDs</button><br />
	<ul id="pidList" class="tbody">
	<div class='row'>
	<span class="hcell">pid</span>
	<span class="hcell">opseq</span>
	<span class="hcell">machine</span>
	<span class="hcell">shift</span>
	<span class="hcell">scrap</span>
	<span class="hcell">endscrap</span>
	<span class="hcell">qtycompleted</span>
	<span class="hcell">setuptime</span>
	<span class="hcell">runtime</span>
	<span class="hcell">downtime</span>
	<span class="hcell">operator</span>
	<span class="hcell">date</span>
	<span class="hcell">componentcode</span>
	</div>
	
	<!-- Here is where I need to add a list of PID Module views instead of the following-->
	
	</ul>
	<button class="btnRun">Run Process</button><br />
	<iframe id='autoentry' src="testTop.html" >Error! An Iframe in not showing.</iframe>
