<li class='row'>
	<span class='cell'>{{pid}}</span>
	<span class='cell'>{{opseq}}</span>
	<span class='cell'>{{machine}}</span>
	<span class='cell'>{{shift}}</span>
	<span class='cell'>{{scrap}}</span>
	<span class='cell'>{{endscrap}}</span>
	<span class='cell'>{{qtycompleted}}</span>
	<span class='cell'>{{setuptime}}</span>
	<span class='cell'>{{runtime}}</span>
	<span class='cell'>{{downtime}}</span>
	<span class='cell'>{{operator}}</span>
	<span class='cell'>{{date}}</span>
	<span class='cell'>{{componentcode}}</span>
</li>