<p><font face="Verdana">Carrier </font><select name="Carrier">
<option value="1" selected="selected">1st Carriers Corp</option>
</select> Pro Date <input type="text" name="Pro Date" /></p>
<p>Pro Number<input type="text" name="Pro Number" />Date Entered <input type="text" name="Date" /></p>
<p>BOL Number <input type="text" name="BOL" />Total Invoice Amount <input type="text" name="Total" /></p>
<p>Discount<input type="text" name="Discount" />Fuel Surcharge <input type="text" name="Fuel" /></p>
<p>Stop Charge <input type="text" name="Stop" />Detention <input type="text" name="Detention" /></p>
<p>Miles<input type="text" name="Miles" /></p>
<p>Class<input type="text" name="Class" /> <input type="text" name="Zone" /></p>
<p>Payment<select name="Payment">
<option value="1" selected="selected">Prepaid</option>
<option value="2">Collect</option>
</select>Pieces <input type="text" name="Pieces" /></p>
<p>Skid<input type="text" name="Skids" />Weight <input type="text" name="Weight" /></p>
<p>Shipper<input type="text" name="Shipper" />Ship City<input type="text" name="ShipCity" /></p>
<p>Ship State<input type="text" name="ShipState" />Consignee <input type="text" name="Consignee" /></p>
<p>Consignee City <input type="text" name="ConCity" />Consignee State <input type="text" name="ConState" /></p>
<p>Consignee Zip <input type="text" name="ConZip" /></p>


