<div class="todo{{#if done}} done ui-state-disabled{{/if}} border" data-id="{{ ID }}" style="width: 250px">
    <div>
      
      {{#unless isNew}}<input class="check" type="checkbox" title="{{Completed}}" {{#if done}}checked="checked"{{/if}} />{{/unless}}
      <label class="content" data-attr="Task">{{ Task }}</label>
      {{#unless isNew}}
      <div style="display: block">
      	<span  title="Created by {{CreatedByName}} on {{Created}}" class="ui-icon ui-icon-info"></span>
      	<label class="todo-assigned">to: </label><span data-attr="AssignedTo" data-label="Name" class="AssignedTo">{{ Name }}</span>
      	<span class="dueAt" data-attr="DueAt"><label>- by: {{ DueAt }}</label></span>
	  </div>	  
      <span class="todo-destroy"></span>
      {{/unless}}
    </div>
</div>
