<style>
	.task .task-destroy {
		float:right;
		display: none;
		cursor: pointer;
	}
	.task:hover .task-destroy {
		display: block;
	}
	.task .task-info {
		float:right;
		display: none;
		cursor: pointer;
	}
	.task:hover .task-info {
		display: block;
	}
</style>
<div class="task{{#if done}} done ui-state-disabled{{/if}} border" data-id="{{ ID }}" style="width: 250px">
      {{#unless isNew}}<input class="check" type="checkbox" title="{{Completed}}" {{#if done}}checked="checked"{{/if}} />{{/unless}}
      <label class="content" data-attr="Task">{{ Task }}</label>
      {{#unless isNew}}
      <span class="task-destroy ui-icon ui-icon-circle-close" title="Delete this task"></span>
      <div style="display: block">
      	<span  title="Created by {{CreatedByName}} on {{Created}}" class="task-info ui-icon ui-icon-info"></span>
      	<label class="todo-assigned">to: </label><span data-attr="AssignedTo" data-label="Name" class="AssignedTo">{{ Name }}</span>
      	<span class="dueAt" data-attr="DueAt"><label>- by: {{ DueAt }}</label></span>
	  </div>	      
      {{/unless}} 
</div>
