<div class="todo{{#if done}} done ui-state-disabled{{/if}}" data-id="{{ ID }}" >
    <div class="display defaultForm">
      <input class="check" type="checkbox" title="{{Completed}}" {{#if done}}checked="checked"{{/if}} />
      <label class="todo-content" data-attr="Task">{{ Task }}</label><div class="dueAt" data-attr="DueAt"><label > Due: {{ DueAt }}</label></div><br />
	  <label class="todo-assigned">for: </label><span data-attr="AssignedTo" class="AssignedTo">{{ Name }}</span>
	  <span  title="Created by {{CreatedByName}} on {{Created}}" class="ui-icon ui-icon-info"></span>
      <span class="todo-destroy"></span>
    </div>
    <div class="edit">
      <input class="todo-input" type="text" value="{{ Task }}" size='10'/>
    </div>
</div>
